body {
  background-image: url(../img/pizzabackground.jpg);
  background-blend-mode: difference;
  padding: 12px;
}

h1, h2, h3 {
  text-align: center;
  font-family: sans-serif;
}

.jumbotron, .panel-default {
  background-color: crimson;
  border-color: black;
}

#opacity {
  opacity: 0.80;
}
